{
  "env": {
    "es2020": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "globalReturn": true
    },
    "sourceType": "module"
  },
  "extends": "standard",
  "plugins": [
    "svelte3"
  ],
  "overrides": [
    {
      "files": ["**/*.svelte"],
      "processor": "svelte3/svelte3",
      "rules": {
        "import/first": "off"
      }
    }
  ],
  "rules": {
    // Fixes no-multiple-empty-lines issue
    // https://github.com/sveltejs/eslint-plugin-svelte3/issues/41#issuecomment-572503966
    "no-multiple-empty-lines": ["error", {
      "max": 1,
      "maxBOF": 2,
      "maxEOF": 0
    }]
  },
  "globals": {
    "logger": true
  }
}
